# Node.js
node_modules/
npm-debug.log
.env

# Build
build/
dist/

# Logs
logs
*.log

# Dependency directories
jspm_packages/
bower_components/

# TypeScript
*.tsbuildinfo

# VS Code directories
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Editor directories
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
